[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = f9a0110c-3c25-430b-a813-d23146090cc8
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file